{% extends 'base.html' %}


{% block content %}
  <div class="jumbotron">

    <h2 style="color: teal;">Please Login: </h2>
    <h3 style="color: teal;">(Must be SuperUser, please check admin for issues.)</h3>
    {% if form.errors %}
        <p style="color: teal;">Your username and password didn't match.Please try again!</p>
    {% endif %}

    <form method="POST" style="color: teal;" action="{% url 'login' %}">
    {% csrf_token %}
        {{form.as_p}}

        <input type="submit" class='btn btn-primary' value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
{% endblock %}
